#contain{
	max-width: 750px;
	margin: 0 auto;
}

.banner {
	width: 100%;
}

h2 {
	font-size: 2.5rem;
	font-weight: 400;
	margin: 30px auto;
	text-align: center;
}
h2 span {
	color: #f4b931;
}

h3 {
	font-size: 2.7rem;
	font-weight: 600;
	color: #876005;
	margin: 40px auto;
	text-align: center;
}

.order {
	color:#fff;
	background-color: #f4b931;
	font-size: 1.6rem;
	margin: 0 auto;
	width: 35%;
	width: 64%;
	padding: 5px 30px;
	border-radius:50px;
	text-align: center;
}

.order span {

}

.balance {
	margin:20px auto 0 auto;
	width: 100%;
	text-align: center;
}

.sign {
	font-size:2.4rem;
	font-weight: 800;
	margin-top: 5px;
	margin-left: -100px;
	position: relative;
	float: left;
	left: 50%;
}

.signnum {
	text-align: center;
	font-size: 5rem;
	color: #ffe431;
	position: relative;
	float: left;
	left: 50%;
}

.signnum span{
	border: 1px solid #a5a5a5;
	border-radius:5px;
	vertical-align: top;
	margin: 0 10px;
	padding: 2px 5px;
}

#sign_form {
	width: 100%;
	text-align: center;
	position: relative;
}

.signname{
	background-color: #e1e1e1;
	width: 63%;
	font-size: 1.7rem;
	color: #A5A5A5;
	padding: 10px 30px;
	border: 1px solid #a5a5a5;
	border-radius: 5px;
	margin-top: 20px;
}

#submit {
	background-color: #F4B931;
	color: #fff;
	font-size: 1.7rem;
	width: 63%;
	border-radius: 5px;
	padding: 10px 40px;
	margin-top: 20px;
}

#gundong {
	width: 60%;
	height: 800px;
	overflow: hidden;
	background-color: #E1E1E1;
	margin: 0 auto;
	font-size: 1.5rem;
	text-align: center;
	position: relative;
}

#gundong li {
	transition: all 1s;
}

.box{ margin:0 auto;}
.bcon{margin:30px auto;}
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px;}
.bcon h1 b{ font:bold 14px/40px '宋体'; border-top:2px solid #3492D1; padding:0 8px; margin-top:-1px; display:inline-block;}

.list_lh{ height:100px; overflow:hidden;}
.list_lh li{ padding:10px;}
.list_lh li.lieven{ background:#F0F2F3;}


.buzhou {
	margin-top: 20px;
}

.buzhou li{
	width: 90%;
	margin: 10px auto;
}
